body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: #6c7376;
    background: antiquewhite;
    padding: 40px;
}
nav {
    float: right;
    background: coral;
    border-radius: 5px;
    height: 100px;
    line-height: 100px;
    font-size: 125%;
    margin: 0 1.5%;
}
div {
    background: white;
    padding: 50px;
}
H1 {
    color: black;
    font-size: 325%;
    font-family: Arial, Verdana, serif;
    text-align: center;
}
p {
    font-size: 225%;
    text-align: center;
}
caption {
    font-size: 35px;
    color: black;
}
tr {
    color: black;
    text-align: center;
}
img {
    margin-bottom: 10%;
}