.header_links {
    display: flex;
    align-items: center;
}
.header_link--notify {
    margin-right: 15px;
    display: flex;
    align-items: center;
}
.header-link_icon {
    width: 32px;
    height: 32px;
    margin-right: 21px;
}
.header-link_text {
    color: #808080;
    font-size: 14px;
    font-weight: 500;
    line-height: 2.14;
}
.carousel-section {
    margin-bottom: 30px;
}
h1,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1;
}
.carousel_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 330px;
    width: 100%;
    background: url("../img/background/images3.jpg");
    border-radius: 6px;
}
.carousel_item-title {
    color: #ffffff;
    font-size: 36px;
    font-weight: 300;
    line-height: 1;
}
.carousel_item-text {
    color: rgba(255, 255, 255, 0.45);
    font-family: Arial, Verdana, cursive;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.14;
}
.intro1 {
    height: 290px;
    background-color: darkgray;
}
.intro_catalog {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro_text {
    text-transform: uppercase;
    color: black;
    font-family: Arial, Verdana, cursive;
    text-align: center;
    padding-left: 80px;
    font-size: 20px;
    font-weight: 700;
}
