.body {
    background-color: darkgray;
    margin: 0;
    font-family: Arial, Verdana, cursive;
}
* {
    box-sizing: border-box; /*border-box говорит браузеру учитывать любые границы и внутренние отступы в значениях, которые вы указываете в ширине и высоте*/
}
.header {
    background-color: white;
    height: 150px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    margin-bottom: 100px;
}
.container {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    padding-bottom: 80px;
}
.header_container {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /*Равномерно распределяет все элементы по ширине flex-блока.*/
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 55px;
    
}
.header_search {
    width: 500px;
    height: 50px;
    border-radius: 4px;
    border: 2px solid #f5f5f5;
    display: flex;
    align-items: center;
}
.header_search-input-wrapper {
    width: 280px;
    display: flex;
    align-items: center;
    border-right: 2px solid #f5f5f5;
}
.header_search-input {
    height: 46px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    color: #535353;
    font-family: Arial, Verdana, cursive;
    font-size: 14px;
    font-weight: 700;
    line-height: 2.14;
}
.header_search-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #f5f5f5;
    width: 140px;
    text-align: center;
}
.header_select {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.header_select_title {
    width: 120px;
    position: relative;
    color: #b3b3b3;
    font-size: 13px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1.25px;
}
.header_select_title::after {
    top: 3px;
    right: 0;
    position: absolute;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-image: url(../img/icon/canva-photo-editor.png);
}
.header-select-dropdawn {
    /* display: none; */
    margin-top: 3px;
    position: absolute;
    border: 2px solid #f5f5f5;
    top: 100%;
    left: -2px;
    right: -2px;
    border-radius: 0 0 4px 4px;
    background-color: white;
}
.hidden {
    display: none;
}
.header-select-dropdawn-item {
    color: #808080;
    font-size: 13px;
    font-weight: 500;
    line-height: 2.2;
    border-bottom: 2px solid #f5f5f5;
}
.header-select-dropdawn-item:hover {
    background-color: #f1f1f1;
}
.header_search-button-wrapper {
    flex-grow: 1;
}
.header_search-button {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    cursor: pointer;
}